.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    font-size: 2em;
    font-weight: bold;
    color: #f29cb7;
    margin-top: 2rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: auto;
    padding: 2rem;
    margin-top: 1rem;
    border: 1px solid rgb(204, 204, 204, 0.1);
    box-shadow: inset 0 0 10px rgb(204, 204, 204, 0.2);
    border-radius: 5px;
    gap: 2rem;
}

.input {
    padding: 0.5rem;
    border: 1px solid rgb(204, 204, 204, 0.1);
    box-shadow: inset 0 0 10px rgb(204, 204, 204, 0.2);
    border-radius: 5px;
    width: 12rem;
}

.inputButton {
    padding: 0.5rem;
    border: 1px solid rgb(204, 204, 204, 0.1);
    box-shadow: inset 0 0 10px rgb(204, 204, 204, 0.2);
    border-radius: 5px;
    width: 80%;
}

.button {
    padding: 0.5rem;
    border: none;
    background-color: #834dfb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 10rem;
}

.button:hover {
    background-color: #4f249e;
}

.eyeButton {
    top: 226px;
    right: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2rem;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}